
:root {
	--connector-size: 10px;

	--node-background: #f4f4f4;
	--node-border: #bbb;

	--group-title-height: 25px;

	--connection-color: rgb(75, 142, 243);
}


html, body {
	padding: 0;
	margin: 0;

	position: relative;
	width: 100%;
	height: 100%;

	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;

	user-select: none;
}

#main {
	overflow: hidden;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 30px;
}

.root {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.nodes {
	position: absolute;
	left: 0;
	right: 0;
	top: 25px;
	bottom: 0;
}

.root > .nodes {
	top: 0;
}

.node > .nodes {
	display: none;
}

.node {
	background: var(--node-background);
	border: 1px solid var(--node-border);
	border-radius: 5px;
}

.group {
	border: 1px solid var(--node-border);
	border-radius: 5px;
}

.group:not(.collapsed) {
	position: absolute;
}

.node, .group.collapsed {
	position: absolute;

	display: flex;
	min-width: 30px;
	min-height: 30px;
	padding: 0 10px;

	justify-content: center;
	align-items: center;

	z-index: 100;
}

.group > .title {
	cursor: pointer;
	background: var(--node-background);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.group > .nodes {
	overflow: hidden;
}

.group:not(.collapsed) > .title {
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--group-title-height);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-bottom: 1px solid var(--node-border);
}

.group canvas {
	position: absolute;
	width: 100%;
	top: var(--group-title-height);
	bottom: 0;
}

* {
	box-sizing: border-box;
}

#status-bar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;

	display: flex;
	justify-items: center;

	background: var(--node-background);
	border-top: 1px solid var(--node-border);
}

#status-bar .label {
	display: grid;

	grid-auto-flow: column;
	grid-auto-columns: auto;
	grid-column-gap: 5px;

	justify-content: center;
	align-content: center;

	padding: 0 10px;
}

#status-bar .label .value {
	font-style: italic;
}

#status-bar .label:not(:last-child) {
	border-right: 1px solid var(--node-border);
}

#main .input, #main .output {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.node > .input, .group > .input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: var(--connector-size);
	transform: translateX(-50%);
}

.node > .output, .group > .output {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: var(--connector-size);
	transform: translateX(+50%);
}

.input.connector, .output.connector {
	width: var(--connector-size);
	height: var(--connector-size);
	border-radius: 100%;
	border: 1px solid var(--node-border);
	background: #fff;
	margin: 5px 0;
	cursor: pointer;
}

.input.connector:hover, .output.connector:hover {
	background: #f0f0f0;
}